@model AdminRendezVousManagementViewModel

<div class="row my-5">
    <div class="col-12 d-flex justify-content-center">
        <h2>Consulter les rendez vous : </h2>
        <input id="datechosen" onchange="getRendezVous()" class="datepicker text-center ml-2" data-date-format="mm/dd/yyyy" value="@Model.TodayShortDate">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="rendezvous" class="row grid rdv">
            @await Html.PartialAsync("GetDayRendezVous", Model.RendezVousOfDay)
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-12 d-flex justify-content-center">
        <h2>Valider des rendez vous : </h2>
    </div>
</div>
<div id="waitingRendezVous" class="col-12">
    <div class="row grid rdv" id="waitingrdv">
        @await Html.PartialAsync("WaitingRendezVous", Model.WaitingRendezVous)
    </div>
</div>