h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 3em;
}

th, td {
    vertical-align: middle;
    text-align: center;
}

.form-check-input{
    position: relative;
    margin-left: 0;
}

.calendar {
    height: 80vh;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(7, 1fr);
    overflow: scroll;
}

.day {
    background-color: #f8e1fa;
    border: 1px solid #fff;
    font-size: 1.2em;
    text-align: center;
    border-radius: 20px;
}

.rdv {
    font-size: 0.7em;
    color: #bb4c7b;
    cursor: pointer;
    font-weight: bold;
}

.off {
    background-color: #e2e2e2;
}

.rdv:hover {
    color: #bb4c7b;
}

.unavaible {
    display: none;
}

.fa-arrow-alt-circle-left, .fa-arrow-alt-circle-right {
    cursor: pointer;
    font-size: 2em;
    color: #bb4c7b;
}

button:disabled {
    color: grey;
    border-color: grey;
    box-shadow: none;
}

button:disabled:hover {
    background-color: lightgray;
}

.form-group.row{
    width: 50%;
    box-sizing: content-box;
    margin: 5px auto;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 70%;
        margin: 1.75rem auto;
    }
}