@model IndexViewModel
@{
    ViewData["Title"] = "Liste des Prestation";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/prestation.css" />
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="m-2">Mes Prestations</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Description</th>
                        <th scope="col">Durée (Approximative)</th>
                        <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var prestation in Model.Prestations)
                        {
                            <tr>
                                <td scope="row">@prestation.Nom</td>
                                <td>@prestation.Description</td>
                                <td>@prestation.Duree</td>
                                <td>@Math.Round(prestation.Prix, 2) €</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

